body {
    color: white;
}
p {
    color: white;
    font-size: 20px;
}

div {
    background-color:black;
    opacity: 97%;
}
section{
    margin-left: auto;
    width: 100%;
}

article{
    height: 100%;
    width: 100%;
}
img{
    width: 100%;
}
